@model WebAppCW.Models.Post

@{
    ViewData["Title"] = "Create Post";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <hr />
            <div class="card" style="margin-left:auto; margin-right:auto; width: 500px;">
                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>@ViewData["Title"]</strong>
                </h5>

                <div class="card-body px-lg-5 pt-0" style="margin-top: 10px;">
                    <form asp-action="Create" class="text-center">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="md-form mt-0">
                            <input asp-for="PostTitle" class="form-control" placeholder="Post Title"/>
                            <span asp-validation-for="PostTitle" class="text-danger"></span>
                        </div>
                        <div class="md-form mt-0">
                            <textarea asp-for="PostText" class="form-control" placeholder="Post Text"></textarea>
                            <span asp-validation-for="PostText" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" />
                        </div>
                    </form>
                </div>
            </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
