@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Third year Web Applications coursework in Swansea University</p>
<p>ASP .NET Core and MDBootstrap were used to make this Application.</p>
