@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Aleksandr Slobodov. Third year computer science student";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Find me on:</strong> <a href="http://www.vodoballs.co.uk">vodoballs.co.uk</a><br />
</address>
