@model WebAppCW.Models.Post
@{
    ViewData["Title"] = "IndexWithForm";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <form action="/Home/Index" method="post">
        <input type="text" name="PostId" value="" />
        <input type="text" name="PostAuthor" value="" />
        <input type="text" name="PostText" value="" />
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>
</html>

