@model IQueryable<User>


@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "UserList";
}

<h2>All users</h2>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Claims
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => _user.UserName)
                </td>
                <td>
                    <ul>
                        @foreach(var claim in await UserManager.GetClaimsAsync(_user))
                        {
                            <li>
                                @claim.ToString()
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

