@model _689997CW1.Models.Contacts
@{
    ViewData["Title"] = "IndexWithForm";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <form action="/Home/Index" method="post">
        <input type="text" name="Id" value="" />
        <input type="text" name="FirstName" value="" />
        <input type="text" name="LastName" value="" />
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>
</html>

